*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edede9;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* nav bar and footer*/
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    padding: 20px 10px;
    font-family:"Epilogue", sans-serif;
    font-weight: 500;
    font-size: large;

}
nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav a:hover {
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}
.name{
    display:flex;
    float: left;
    justify-content: center;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 20px;
    width: 100%; 
    font-family: "Epilogue", sans-serif;
    margin-top: 3%;
}

/* "Globals" */
.links{
    color: #33658A;
}

.titles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    margin-top: 2%;

}

/* Home Page */
.hometitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    font-size:40pt;
    padding: 5% 0 0 ;

}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}
.gallery img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 3%;
}
.intro{
    display: flex;
    padding: 2% 30%;
    text-align: center;
    font-family:"Rosario",sans-serif;
    font-weight: 500;
    font-size: larger;
}
.homeimage{
    float: left;
    margin-right: 2%;
    width: 25cap;
    height: 25cap;
    border-radius: 5%;
    margin-top: 1%;
}
.homeimage2{
    float:right;
    margin-left: 2%;
    width: 25cap;
    height: 25cap;
    border-radius: 5%;
}
.aboutme{
    padding: 2% 25% 1%;
    font-family:"Rosario",sans-serif;
    font-weight: 400;
    font-size: medium;
    text-indent: 2em;
    text-align:justify;
}
.aboutme2{
    padding: 0 25%;
    font-family:"Rosario",sans-serif;
    font-weight: 400;
    font-size: medium;
    text-indent: 2em;
    text-align: justify;
}
/* Resume Page */
.resumeheader{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Rosario", sans-serif;
    margin-top: 1%;
}
.sectionheader{
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    padding-bottom: 1%;
    border-bottom: 2px solid black;
    display: block;
    width: 100%;
    padding: 0 5% 5px 5%;
    box-sizing:border-box;
}
.resumebody{
    margin-top: 1%;
    width: 100%;
}
.resumebody p, i{
    display: flex;
    justify-content: space-between;
    font-family: "Epilogue", serif;
    font-size: 15pt;
    font-weight: 400;
    padding: 0 5%;
}
.resumebody ul{
    list-style-type: disc;
    padding-left: 8%;
    padding-top: 1%;
    font-family: "Epilogue", serif;
    font-size: 15pt;
    font-weight: 400;
    padding-right: 5%;
}
.duration{
    float: right;
}
/*blog*/
.blogtext{
    font-family: "Rosario", sans-serif;
    font-size: 15pt;
    font-weight: 400;
    text-indent: 4em;
    padding: 1% 20% 0;
}

/* Mobile CSS styling*/
@media (max-width: 768px) {
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2%;
        padding: 20px 10px;
        font-family:"Epilogue", sans-serif;
        font-weight: 500;
        font-size: 10pt;
    }
    .hometitle{
    display: flex;
    justify-content: center;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    font-size:30pt;
    padding: 5% 0 0 ;
    }
    .intro{
    display: flex;
    padding: 2% 5%;
    text-align: center;
    font-family:"Rosario",sans-serif;
    font-weight: 500;
    font-size: larger;
    }
    .gallery{
        grid-template-columns: repeat(1, 1fr); 
        gap: 10px;
        padding: 20px;
    }

    .gallery img {
        height: 50vh; 
        object-fit: cover; 
        border-radius:3%;
    }
    .homeimage{
        display: flex;
        justify-content: center;
        padding: 0 5%;
        margin:auto;
        width: 25cap;
        height: 25cap;
        border-radius: 5%;
        margin-top: 1%;
    }
    .homeimage2{
        float:right;
        margin-left: 2%;
        width: 25cap;
        height: 25cap;
        border-radius: 5%;
    }
    .aboutme{
        padding: 2% 25% 1%;
        font-family:"Rosario",sans-serif;
        font-weight: 400;
        font-size: medium;
        text-indent: 2em;
        text-align:justify;
    }
    .aboutme2{
        padding: 0 25%;
        font-family:"Rosario",sans-serif;
        font-weight: 400;
        font-size: medium;
        text-indent: 2em;
        text-align: justify;
    }
}